@import "tailwindcss";

@theme {
  --color-dark: #050505;
  --color-void: #000000;
  --color-primary: #FF3B00;
  /* High Voltage Orange */
  --color-secondary: #FF6600;
  --color-off-white: #EAEAEA;

  --font-display: "Syne", sans-serif;
  --font-heading: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-body: "DM Sans", sans-serif;

  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-widest: 0.25em;
}

@utility text-stroke {
  -webkit-text-stroke: 1px var(--color-off-white);
  color: transparent;
}

@utility text-stroke-orange {
  -webkit-text-stroke: 1px var(--color-primary);
  color: transparent;
}

@utility brutal-border {
  border: 2px solid var(--color-off-white);
}

@utility brutal-shadow {
  box-shadow: 8px 8px 0px 0px var(--color-primary);
}

@utility brutal-shadow-hover {
  transform: translate(-4px, -4px);
  box-shadow: 12px 12px 0px 0px var(--color-primary);
}

@layer base {
  body {
    @apply bg-transparent text-off-white font-body overflow-x-hidden selection:bg-primary selection:text-black;
  }
}

/* Custom Cursor removed */